body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  justify-content: center;
  align-items: center;
}

.square {
  width: 30px;
  height: 30px;
  background: rgb(19, 18, 18);
  margin: 1px;
  transition: ease 1s;
}

.square:hover {
  transition-duration: 0s;
}
